.header-post{	
	background: #01619e;
	padding-bottom: 40px;	
	text-align: center;	
	top: -20px;

	h1{
		top: 50px;
		color: #FFF;
		font-size: 2.897rem;
		font-weight: 100;
	}	

	.post{
		width: 100%;
		font-size: 20pt;

		.post-content {
			background: none repeat scroll 0% 0% #EEE;
			width: 100%;
			margin-top: 50px;	
		}		
	}
}


.author{
	margin-top: 100px;		
	
	.details{	
		width: 15rem;
		margin-right: auto;
		margin-left: auto;			
	}
	
	.img-rounded{
		width: 15.5rem;			
		margin-bottom: 10px;
		.border-radius;
	}

	.author-name {
		color: #FFF;
		font-size: 1.85rem;		
	}
}
